<ion-header no-border>
  <ion-toolbar color="color1">
    <ion-buttons slot="start">
      <ion-back-button color="white" default-href="" (click)="dismiss()" text="" icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title>Add Brand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding" style="margin-left: 10px; padding: 35px;">
    <ion-row>
      <ion-col size="4">
        <ion-item class="item-background-color"><b>Name</b></ion-item>
      </ion-col>
      <ion-col>
         <ion-item class="item-background-color"></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-item class="item-background-color"><b>Template</b></ion-item>
      </ion-col>
      <ion-col size="8">
         <ion-item class="item-background-color"></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-item class="item-background-color"><b>Payment Category</b></ion-item>
      </ion-col>
      <ion-col>
         <ion-item class="item-background-color"><ion-label></ion-label></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-item class="item-background-color"><b>Description</b></ion-item>
      </ion-col>
      <ion-col>
         <ion-item class="item-background-color"><ion-label></ion-label></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-item class="item-background-color"><b>Surcharge Title</b></ion-item>
      </ion-col>
      <ion-col>
         <ion-item class="item-background-color"><ion-label></ion-label></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-item class="item-background-color"><b>Payment Instructions</b></ion-item>
      </ion-col>
      <ion-col size="8">
         <ion-item class="item-background-color"><ion-label></ion-label></ion-item>
      </ion-col>
    </ion-row>
    <ion-text (click)="createOption()" class="txt-done">Create</ion-text>
    <ion-text (click)="closeAddOption()" class="txt-close">Cancel</ion-text>
  </form>
</ion-content>