.icon{
    font-size: 25px;
    margin-left: 18px;
    
}
// ion-select {
//     color: #000 !important; //placeholder color
//     font-weight: bolder !important;
//     opacity: -80px !important;
// }
ion-select{
    opacity: 100 !important;
    color: var(--ion-color-dark);
}