<ion-header no-border>
  <ion-toolbar color="color1">
<ion-buttons slot="start">
  <ion-icon icon="arrow-round-back" (click)="back()"  class="icon"></ion-icon>
</ion-buttons>
<ion-title>Shipping Methods</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let shipping of active_shipping">
    <ion-card-header>
      <ion-row>
        <!-- Position -->
        <ion-col>
            <ion-text style="font-weight: bold;"> Position: </ion-text> {{shipping.position}}
        </ion-col>
        <!-- Name -->
        <ion-col class="col-right">
          <ion-text style="font-weight: bold;">Name: </ion-text>   {{shipping.shipping}}
        </ion-col>  
      </ion-row>
      <ion-row>
        <!-- Delivery -->
        <ion-col>
            <ion-text style="font-weight: bold;"> Delivery Time: </ion-text> {{shipping.delivery_time}}
        </ion-col>
        <!-- Name -->
        <ion-col class="col-right">
          <ion-text style="font-weight: bold;">Weight Limit: </ion-text>   {{shipping.max_weight}}-{{shipping.min_weight}}
        </ion-col>  
      </ion-row>
      
      <ion-row>
        <ion-col size="2" style="margin-top: 10px;">
          <ion-text style="font-weight: bold;">User group: </ion-text>
        </ion-col>
        <ion-col size="4" >            
          <ion-select style="float: left;" [(ngModel)]="shipping.usergroup"[ngModelOptions]="{standalone: true}" (cancel)="onCancel()" (ionChange)="updateshipemnt(shipment.status, shipment.shipment_id)"data-live-search="true" value="shipment.status">
            <ion-select-option value="A">Picked</ion-select-option>
            <ion-select-option value="P">Pick up</ion-select-option>
            <ion-select-option value="S">Shiped</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="3" style="margin-top: 10px;">
          <ion-text style="font-weight: bold;">Setting ⚙️: </ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-select style="float: left;" interface="popover"#settingList (ionChange)='changeSetting($event.target.value, shipping.shipping_id)' class="select-placeholder">
            <ion-select-option value="V" class="settinglist">View</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin-top: 10px;">
          <ion-text style="font-weight: bold;">Status: </ion-text> {{shipping.status}}
        </ion-col>
        <!-- <ion-col size="4" >            
          <ion-select style="float: left;" [(ngModel)]="shipping.usergroup"[ngModelOptions]="{standalone: true}" (cancel)="onCancel()" (ionChange)="updateshipemnt(shipment.status, shipment.shipment_id)"data-live-search="true" value="shipment.status">
            <ion-select-option value="A">Picked</ion-select-option>
            <ion-select-option value="P">Pick up</ion-select-option>
            <ion-select-option value="S">Shiped</ion-select-option>
          </ion-select>
        </ion-col> -->
      </ion-row>
    </ion-card-header>
  </ion-card>
</ion-content>