<!-- Headder -->
<ion-header no-border>
  <ion-toolbar color="color1">

    <!-- Side menu option -->
    <ion-buttons slot="start">
      <ion-menu-toggle menu="pages">
        <ion-button color="white">
          <ion-icon name="md-list" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <!-- Page Title -->
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs class="ion-padding">

    <ion-tab-bar slot="top">
      <ion-tab-button (click)="clickTab($event, '/tabs/tab3/orders-tab1')" [routerLink]="['orders-tab3']" tab="orders-tab3">
        <ion-label>Orders</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="clickTab($event, '/tabs/tab3/orders-tab3')" [routerLink]="['orders-tab3']" tab="orders-tab3">
       
        <ion-label>Shipments</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="clickTab($event, '/tabs/tab3/orders-tab2')" [routerLink]="['orders-tab3']" tab="orders-tab3">
    
        <ion-label>Returns</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
