<ion-header no-border>
  <ion-toolbar color="color1">
<ion-buttons slot="start">
  <ion-icon icon="arrow-round-back" (click)="back()"  class="icon"></ion-icon>
</ion-buttons>
<ion-title>Accounting</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let accounting of accLists">
    <ion-row>
      <ion-col>
          <ion-text style="font-weight: bold;">Status:</ion-text> {{accounting.status}}
      </ion-col>
      <ion-col>
        <ion-text style="font-weight: bold;">Date: </ion-text> {{accounting.date}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-text style="font-weight: bold;">Type:</ion-text> {{accounting.type}}
      </ion-col>
      <ion-col>
        <ion-text style="font-weight: bold;">Transaction Value: </ion-text> {{accounting.transaction_value}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text style="font-weight: bold;">Comment:</ion-text> {{accounting.comment}}
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
