#product-details {
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    ion-slides {
        --bullet-background: var(--ion-color-light);
        --bullet-background-active: var(--ion-color-color1);

        img {
            border-radius: 10px;
        }
    }

    ion-fab-button {
        --background: transparent;
        --background-focused: transparent;
        --background-activated: transparent;
    }

    .product-name {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--ion-color-medium);
    }

    .price {
        font-weight: bold;
    }

    .previous-price {
        text-decoration: line-through;
        font-size: 0.8rem;
    }

    .border-style {
        border: 4px solid;
        width: 60px;
        border-radius: 15%;
    }

    .select-heading {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--ion-color-medium);
    }

    .size-label {
        font-weight: bold;
        font-size: 1.1rem;
    }
}

ion-footer {
    ion-toolbar {
        --background-color: transparent;
        --ion-color-base: transparent !important;
    }

    ion-button {
        --box-shadow: -1px 1px 17px -3px var(--ion-color-color1);
    }
}
.header-row{
    border: 2px solid rgb(168, 164, 164);
    border-bottom: 2px solid rgb(168, 164, 164);
}
.option-row{
    border: 1px solid rgb(168, 164, 164);
    border-bottom: 1px solid rgb(168, 164, 164);
}
table { 
    width: 85%; 
    border-collapse: collapse;
    margin-left: 30px;
    border: none;
    box-shadow: 5px 10px 8px #888888;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee;
}
th { 
    background: #008C76FF; 
    color: white; 
    font-weight: bold; 
}
tr{
    border: none;
    margin: 5px;
}
td, th { 
    padding: 6px; 
     border: 2px solid #fff;
    border-right: 2px solid #fff;
    border-radius: 7px; 
    text-align: left; 
}

