// ion-item {
//     box-shadow: 0 0 3px 0 var(--ion-color-medium, #f3f5f3d5);
//     border-radius: 8px;
// }
.item-background-color{
    --ion-item-background:#f3f5f3d5;
}
.rating{
    background-color: #f3f5f3d5;
    border: 1px solid #f3f5f3d5;
    width: 330%;
    // height: 153%;
    padding: 25px;
}