<ion-header no-border>
  <ion-toolbar color="color1">
<ion-buttons slot="start">
  <ion-icon icon="arrow-round-back" (click)="back()"  class="icon"></ion-icon>
</ion-buttons>
<ion-title>Setting</ion-title>
</ion-toolbar>
</ion-header>
<ion-content id="account" class="ion-padding">
    <!-- <ion-icon icon="arrow-round-back" (click)="back()" color="medium" class="icon"></ion-icon> -->
 <!-- Some Setting Option -->
 <ion-card>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Settings</ion-label>
    </ion-item-divider>

    <ion-item lines="none">
      <ion-label>Vendor</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end" (click)="clickTab($event, 'vendor')" [routerLink]="['setting/vendor']"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Vendor's Admin</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Vendor Plan</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Accounting</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Print Button</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Shippping Methods</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Payment Methods</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>YESSS Policies</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Change Languages</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>App Version</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Logout</ion-label>
      <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
    </ion-item>
  </ion-item-group>
</ion-card>
</ion-content>