ion-tab-bar {
    --border: 0px;
    --color-selected: var(--ion-color-color1);
    --color: var(--ion-color-medium);
}
.noti{
    margin-top: -12px;
}

.noti-icon-num{
    margin-bottom: 5px;
}

.noti-icon{
    font-size: 20px;
}

.noti-num{
    margin-top: -3px;
    color: red;
    font-weight: bold;
}