<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <i class="bi bi-shop"></i>
      <img src="assets/icon/store.png" style="width: 40%; height: 40%; margin-top: 3px;">
      <ion-label>Stores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="md-checkmark-circle-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="md-notifications-outline"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>