.grid-home{
    border: 10px solid lightpink;
    padding: 15px;
    background-color: #FF8080;
}
.child-home{
    // border: 1px solid rgb(221, 217, 217);
    font-size: 13px;
    background-color: #fff;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:lightslategray;
    padding: 5px;
    font-weight: 200;
}
.grid-date{
    font-size: 12px;
    text-align: right;
    color:lightslategray;
    font-weight: 200;
    font-family:'Times New Roman', Times, serif;
}
.ion-text-heading{
    font-size: x-large;
    color:lightslategray;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    padding-left: 15px;
}
.per-icon{
    font-size: medium;
    color:lightslategray;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
}
.day-result{
    font-size: medium;
    color:lightslategray;
    font-weight: 200;
    font-family:'Times New Roman', Times, serif;
}
