<ion-header no-border>
  <ion-toolbar color="color1">

    <!-- Side Menu -->
    <ion-buttons slot="start">
      <ion-menu-toggle menu="pages">
        <ion-button color="white">
          <ion-icon name="md-list" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <!-- Page Title -->
    <ion-title>Version</ion-title>

    <!-- Cart Button Option -->
    <!-- <ion-buttons slot="end">
      <ion-button color="white" (click)="gotoCartPage()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-text>Version 1.1.0</ion-text>
  <ion-row style="margin-top: 10px; margin-bottom: 10px;">
    <ion-col size="8">
      <a style="border: 1px solid #036dcc; background-color: #036dcc; padding: 10px; border-radius: 3px; color: #fff; margin-left: 10px;">Check Updated Version</a>
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>
</ion-content>
