// .header-row{
// font-weight: bold;
// font-size: 11px;
// }
.header-row{
    font-weight: bolder;
    font-size: 12px;
    border-bottom: 2px solid rgb(168, 164, 164);
}
.shipment-row{
    border-bottom: 1px solid rgb(168, 164, 164);
    font-size: 12px;
    padding: 5px;
}
.btn {
    color: #0388cc;
    background-color: #fff;
    line-height: 22px;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid #d3dbe2;
}