#checkout {
    .selected {
        // border: 3px solid var(--ion-color-color1);
        border-radius: 50px;

        ion-icon {
            color: var(--ion-color-color1);
        }

        ion-text {
            color: var(--ion-color-color1);
            font-weight: bold;
            font-size: 1.2rem;
        }
    }      

    .ion-select 

    .border-style {
        border: 4px solid;
        width: 60px;
        border-radius: 15%;
    }

    #payment {
        img {
            width: 60px;
        }

        .title {
            font-size: 1.4rem;
            font-weight: 600;
            padding-left: 30px;
            font-family: serif;
        }
    }

    #complete-section {
        h2 {
            font-weight: bold;
        }
    }

}

ion-footer {
    ion-toolbar {
        --background-color: transparent;
        --ion-color-base: transparent !important;
    }
}

ion-item {
    box-shadow: 0 0 3px 0 var(--ion-color-medium, #f3f5f3d5);
    border-radius: 8px;
}
.item-background-color{
    --ion-item-background:#f3f5f3d5;
}
.ion-slide-bar::before{
    content: '';
    position:absolute;
    top: 32px;
    left: 22%;
    height: 2px;
    width: 26%;
    background: #FF8080;
    padding: auto;
}
.ion-progress-bar::before{
    content: '';
    position:absolute;
    top: 32px;
    left: 52%;
    height: 2px;
    width: 26%;
    background: #FF8080;
    padding: auto;
}
.header-row{
    font-weight: 300;
    border-bottom: 2px solid rgb(168, 164, 164);
}
.option-row{
    border-bottom: 1px solid rgb(168, 164, 164);
}