#checkout {
    .selected {
        // border: 3px solid var(--ion-color-color1);
        border-radius: 50px;

        ion-icon {
            color: var(--ion-color-color1);
        }

        ion-text {
            color: var(--ion-color-color1);
            font-weight: bold;
            font-size: 1.2rem;
        }
    }      

    .ion-select 

    .border-style {
        border: 4px solid;
        width: 60px;
        border-radius: 15%;
    }

    #payment {
        img {
            width: 60px;
        }

        .title {
            font-size: 1.4rem;
            font-weight: 600;
            padding-left: 30px;
            font-family: serif;
        }
    }

    #complete-section {
        h2 {
            font-weight: bold;
        }
    }

}

ion-footer {
    ion-toolbar {
        --background-color: transparent;
        --ion-color-base: transparent !important;
    }
}

ion-item {
    box-shadow: 0 0 3px 0 var(--ion-color-medium, #f3f5f3d5);
    border-radius: 8px;
}
.item-background-color{
    --ion-item-background:#f3f5f3d5;
}
.ion-slide-bar::before{
    content: '';
    position:absolute;
    top: 32px;
    left: 22%;
    height: 2px;
    width: 26%;
    background: #FF8080;
    padding: auto;
}
.ion-progress-bar::before{
    content: '';
    position:absolute;
    top: 32px;
    left: 52%;
    height: 2px;
    width: 26%;
    background: #FF8080;
    padding: auto;
}
.header-row{
    font-weight: 300;
    border-bottom: 2px solid rgb(168, 164, 164);
}
.option-row{
    border-bottom: 1px solid rgb(168, 164, 164);
}
.txt-option{
    margin-top: 7px;
}
.txt-upload{
    border: 1px liquid gray;
    background-color: #FF8080;
    border-radius: 3px;
    width: 100;
    height: 100;
    font-size: 12px;
    padding: 5px;
    color:#f0f0f0;
}
.txt-add{
    border: 1px liquid gray;
    background-color: gray;
    border-radius: 3px;
    width: 100;
    height: 100;
    font-size: 12px;
    padding: 5px;
    color:#f0f0f0;
}
.txt-addimg{
    border: 1px liquid gray;
    background-color: gray;
    border-radius: 3px;
    width: 100;
    height: 100;
    font-size: 12px;
    padding: 5px;
    color:#f0f0f0;
    margin-left: 5px;
}
.txt-edit{
    border: 1px liquid gray;
    background-color: darkblue;
    border-radius: 3px;
    width: 100;
    height: 100;
    font-size: 12px;
    padding: 5px;
    color:#f0f0f0;
    margin-left: 5px;
}
.txt-delete{
    border: 1px liquid gray;
    background-color: darkred;
    border-radius: 3px;
    width: 100;
    height: 100;
    font-size: 12px;
    padding: 5px;
    color:#f0f0f0;
    margin-left: 5px;
}
.txt-done{
    border: 1px liquid gray;
    background-color: darkgreen;
    border-radius: 3px;
    width: 100;
    height: 100;
    font-size: 12px;
    padding: 5px;
    color:#f0f0f0;
    // margin-left: 5px;
}
.txt-close{
    border: 1px liquid gray;
    background-color: darkred;
    border-radius: 3px;
    width: 100;
    height: 100;
    font-size: 12px;
    padding: 5px;
    color:#f0f0f0;
    margin-left: 5px;
}
.txt-done-product{
    border: 1px liquid gray;
    background-color: darkgreen;
    border-radius: 3px;
    width: 100;
    height: 100;
    font-size: 18px;
    text-align: center;
    color:#f0f0f0;
    padding: 10px;
    float:right;
    margin-right: 30%;
    margin-top: -10px;
}
.txt-close-product{
    border: 1px liquid gray;
    background-color: darkred;
    border-radius: 3px;
    width: 100;
    height: 100;
    font-size: 18px;
    color:#f0f0f0;
    text-align: center;
    padding: 10px;
    margin-left:30%;
}
table { 
    align-content: center;
    width: 95%; 
    border-collapse: collapse;
    border: none;
    margin-left: 12px;
    margin-right: 12px;
    // box-shadow: 5px 10px 8px #888888;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee;
}

th { 
    background: #008C76FF; 
    color: white; 
    font-weight: bold; 
}
tr{
    font-size: 12px;
}
td, th { 
    padding: 6px; 
     border: 2px solid #fff;
    border-right: 2px solid #fff;
    border-radius: 7px; 
    text-align: left; 
}

.txt-delete-option{
    border: 1px liquid gray;
    background-color: darkred;
    border-radius: 3px;
    width: 100;
    height: 100;
    font-size: 12px;
    padding: 5px;
    color:#f0f0f0;
}